
.wrapper{
  width:100vw;
  height:100vh;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.wrapper > .item{
  cursor: pointer;
  background-color: rgb(33, 33, 33);
}

.wrapper > .item:hover{
  background-color: rgb(66, 66, 66);
}